* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

:root {
    font-size: 100%;
}

.ai-universe--navbar-logo h1 {
    font-family: 'Mynerve', cursive;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 0.5rem 0.2rem 0.5rem red;
    font-style: italic;
    color:white;
}

.fa-bars, .fa-xmark {
    font-size: 2.5rem;
}

.ai-universe--navbar-main-menu {
    list-style-type: none;
    display:flex;
}

.ai-universe--navbar-open-menu {
    display:none;
}

.ai-universe--navbar-close-menu {
    display:none;
}

#sort-btn {
    border-radius:0.50rem;
}

.row {
    margin:0;
}
.card-list-container {
    margin:0;
    padding:0;
    list-style-type: numeric;
    list-style-position: inside;
}

.api-universe-img-card {
    border-radius: 1rem;
    height:3.25rem;
    max-width: 100%;
}

#show-more-btn {
    display:none;
}

@media only screen and (max-width:800px) {
    .ai-universe--navbar-open-menu {
        display:block;

    }
    .ai-universe--navbar-main-menu {
        flex-direction:column;
        display:none;
        height:100vh;
        position:fixed;
        background-color: rgba(11, 10, 10, 0.5);
        top:0;
        right:0;
        left:0;
        justify-content: center;
        align-items: center;
        transition:top 1s ease;
    }
    .ai-universe--navbar-close-menu {
        display:none;
        position:absolute;
        top:1rem;
        right:1rem;
    }
    
}